body{
    margin:0;
}
nav{
    display:flex;
}
nav a{
    background-color:green;
    padding: 40px 10px;
    color:white;
    text-decoration:none;
    flex:1;
}

.showsLink{
    background-color:red;
}