@{
    ViewData["Title"] = "Contact";
}
<h1>Contact</h1>
<p>Hier komt een contact formulier</p>

<form> 
     <div>
     <label for="fname">First name:</label><br>
     <input type="text" id="fname" value=""><br><br>
     </div>

     <div>
     <label for="fname">Last name:</label><br>
     <input type="text" id="fname" value=""><br><br>
     </div>

     <div>
     <label for="fname">Email Adress:</label><br>
     <input type="text" id="fname" value=""><br><br>
     </div>

     <input type="submit" value="Submit">
</form>