@{
    ViewData["Title"] = "Contact";
}
<h1>Contact</h1>
<p>Hier komt een contact formulier</p>

<form> 
     
     <label for="fname">First name:</label><br>
     <input type="text" id="fname" value=""><br><br>
     <input type="submit" value="Submit">


</form>