@model Gudens_Theater.Models.Person
@{
    ViewData["Title"] = "Contact";
    ViewData["page"] = "contacttekst";
}
<h1>@ViewData["Title"]</h1>

<p>Contactformulier:</p>

<form method="post"> 
    <div> voornaam: <input type="text" name="firstname" /></div>
    <div> achternaam: <input type="text" name="lastname" /></div>
    <input type="submit" value="verstuur" />
</form>


@if(Model!= null){
    <p>hallo @Model.firstname die achternaam @Model.lastname heeft</p>
}