@{
    ViewData["Title"] = "Contact";
    ViewData["page"] = "contacttekst";
}
<h1>@ViewData["Title"]</h1>

<p>Contactformulier:</p>

<form> 
    voornaam: <input type="text" name="firstname" />
    achternaam: <input type="text" name="lastname" />
    <input type="submit" value="verstuur" />
</form>


<p>hallo @ViewData["firstname"] die achternaam @ViewData["lastname"] heeft</p>