@{
    ViewData["Title"] = "Privacy Policy";
}
<body>

    <h1>Contact</h1>
    <p>home pagina</p>
    <div class="navigation">
         <h3>Home</h3>
         </div>
    <div class="contact">
         <h4>contact</h4>
         </div>
</body>