@using Gudens_Theater.Database

@model List<Product>
@{
    ViewData["Title"] = "Home Page";
    ViewData["page"] = "hometekst";
}

<div class="container2">
    <div class="grid">

        @foreach (var show in Model)
        {
            <div class="item">
                <a href="/product/@show.id">
                    <img src=@show.image width="250" height="200"/>
                    <p>@show.naam - @show.datum.ToString("D")</p>
                </a>
            </div>
        }
    </div>
</div>