@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6> Alle namen!</h6>
    @foreach(string naam in Model)
    {
        <p>@naam</p>
    }
</div>

<div class="myDiv">
    <div class="banner"> <h7>Het Gudens theater </h7> </div>
</div>


<h8>uitgelichte shows</h8>

<div class="uitgelichte_shows">
    <div class="voorstelling"> voorstelling 1</div>
    <div class="voorstelling"> voorstelling 2</div>
    <div class="voorstelling"> voorstelling 3</div>
    <div class="voorstelling"> voorstelling 4</div>
</div>