@using Gudens_Theater.Database

@model List<Product>
@{
    ViewData["Title"] = "Home Page";
    ViewData["page"] = "hometekst";
}

<div class="container2">
<div class="grid">
  
    @foreach(var show in Model)
    {
        <div class="item"><a href="/product/@show.id">
            <img src="getImage.php?id=1" width="175" height="200"/>@show.naam - @show.datum.ToString("D")</a>
            </div>
        <img src=@show.image/>
    }
</div>
</div>