@using Gudens_Theater.Database

@model List<Product>
@{
    ViewData["Title"] = "Home Page";
    ViewData["page"] = "hometekst";
}

<div class="container2">
<div class="grid">
  
    @foreach(var product in Model)
    {
        <div class="item"><a href="/product/@product.Id">@product.Naam - @product.Prijs</a></div>
        //<img src=""/>
    }
</div>
</div>