@using Gudens_Theater.Database

@model List<Product>
@{
    ViewData["Title"] = "Home Page";
    ViewData["page"] = "hometekst";
}

<div class="container2">
<div class="grid">
  
    @foreach(var show in Model)
    {
        <div class="item"><a href="/product/@show.Id"><img src="getImage.php?id=1" width="175" height="200"/>@show.Naam - @show.beschrijving - @show.datum</a></div>
        <img src=@show.image/>
    }
</div>
</div>