@{
    ViewData["Title"] = "Prijzen";
    ViewData["page"] = "prijzentekst";
}

<div class = "boekingen">
    <h12> Boekingen</h12>
</div>

<div>
    <h1>@ViewData["Title"]</h1>

    <p>Hier staan de prijzen voor alle kaartjes.</p>

    <p>Kinderen</p>
</div>
