@{
    ViewData["Title"] = "Prijzen";
    ViewData["page"] = "prijzentekst";
}

<div class = "boekingen">
    <h12> Boekingen</h12>
</div>

<div>
    <h1>@ViewData["Title"]</h1>

    <p>Hier staan de prijzen voor alle kaartjes.</p>

    <p>Prijzen per leeftijdscategorie:</p>
    <p>0 t/m 4 jaar: €8</p>
    <p>5 t/m 12 jaar: €14</p>
    <p>13 t/m 17 jaar: €18</p>
    <p>Volwassenen: €25</p>
</div>
