@using Gudens_Theater.Database;
@model Product
@{
    ViewData["Title"] = Model.naam;
}

<img src=@Model.image width="750" height="600"/>
<div class="text-center">
 <h1 class="display-4">@Model.naam - @Model.datum.ToString("D")</h1>
 <p>@Model.beschrijving</p>
</div>