@using Gudens_Theater.Database;
@model Product
@{
    ViewData["Title"] = Model.Naam;
}

<div class="text-center">
 <h1> class="display-4">@Model.Naam</h1>
 <p>@Model.Prijs</p>
</div>

<h20>test test test</h20>

