@{
    ViewData["Title"] = "Shows";
    ViewData["page"] = "showstekst";

}
<h1>@ViewData["Title"]</h1>

<p>Hier kunt u alle voorstellingen bekijken. Door op een voorstelling te klikken/drukken, kunt u meer details lezen.</p>
