<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body>
    <header>
        <nav>
            <a class="homeLink" href="/">Home</a>
            <a class="showsLink" href="shows">Shows</a>
            <a class="priceLink" href="prijzen">Prijzen</a>
            <a class="contactLink" href="Contact">Contact</a>
        </nav>
    </header>
    <div class="container @ViewData["page"]">
        <main role="main" class="pb-3">
            @RenderBody()
        </div>
        </main>
    </div>
</body>
</html> 
