<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body>
    <header>
        <nav>
            <a class="homeLink" href="/">Home</a>
            <a class="showsLink" href="/">Shows</a>
            <a class="priceLink" href="/">Prijzen</a>
            <a class="contactLink" href="/">Contact</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">Footer</footer>
</body>
</html> 
